<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OldSource" providerName="System.Data.SqlClient" connectionString="Data Source=<<ip>>;Initial Catalog=<<datasource>>;Integrated Security=False;User Id=<<user_name>>;Password=<<user_psw>>;MultipleActiveResultSets=True" />
  
    <add name="NewSource" providerName="Oracle.DataAccess.Client" connectionString="User ID=<<user_name>>;Password=<<user_psw>>;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST =<<db_host>>)(PORT = 1521)))(CONNECT_DATA = (SID = <<sid>>)))" />
  
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>